.hidden {
  display: none;
}

.host-form-container {
  padding-top: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.user-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.host-link,
.swimmer-link {
  align-self: center;
}

.search-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.search-button {
  width: 8rem;
}

.search-input {
  width: 90%;
}

.list-pool {
  flex-basis: 100%;
}

.pool-list-container {
  padding: 0 1.5rem;
  padding-bottom: 6.5rem;
}

.pool-list-img,
.pool-info-img {
  width: 10rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.pool-list-info,
.pool-info-span {
  display: flex;
  justify-content: space-between;
}

.desktop-links {
  display: none;
}

.pool-info-container {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1.5rem;
}

.pool-info-img {
  width: 100%;
  margin-top: 0;
}

.info-titles {
  margin-bottom: 0;
}

.info-p {
  margin-top: 0;
  padding-top: 0.5rem;
}

.pool-info-span {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.pool-info-location {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.location-book-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.book-button {
  margin-top: 0.8rem;
  height: 2rem;
  align-self: center;
}

.modal {
  position: fixed;
  background-color: white;
  border: 2px solid black;
  padding: 2rem 2rem;
  width: 90%;
  top: 35%;
  border-radius: 0.5rem;
}

.swimmer-login {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 5rem;
}

.booking-submit,
.booking-cancel {
  width: 40%;
  align-self: center;
  height: 2rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

@media screen and (min-width: 768px) {
  form {
    flex-flow: row wrap;
  }

  .row {
    flex-basis: 50%;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.img {
    padding: 0 1rem;
    align-self: center;
  }

  .fileInput {
    display: block;
  }

  .image-label {
    padding-right: 1rem;
  }

  .column.rules {
    flex-basis: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .button-container {
    display: block;
    width: 100%;
    text-align: center;
  }

  .search-button {
    width: 10rem;
  }

  .search-input {
    width: 50%;
  }

  .pool-list-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 2rem;
  }

  .pool-list-img {
    width: 100%;
  }

  .list-pool {
    flex-basis: 25%;
    padding: 0 0.75rem;
  }

  .navbar {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .desktop-links {
    display: block;
    align-self: center;
    padding: 0 3rem;
  }

  .header-title {
    padding: 0 3rem;
  }

  .pool-info-container {
    flex-direction: row;
    padding: 0 2rem;
    justify-content: space-evenly;
    position: relative;
    height: 100vh;
    margin-bottom: 0;
  }

  .info-col {
    flex-basis: 50%;
  }

  .info-col2 {
    margin-top: 5rem;
  }

  .info-p {
    padding-bottom: 3rem;
    width: 16rem;
  }

  .info-titles {
    font-size: 1.5rem;
  }

  .book-button {
    height: 2.5rem;
    width: 7rem;
  }

  .swimmer-name {
    width: 50%;
  }

  .booking-form {
    display: flex;
    flex-direction: column;
  }
}
