label,
.host-form-title,
.host-button,
.swimmer-button,
.pool-list-price,
.pool-list-location,
.search-link,
.search-result-header,
.no-pools,
.pool-info-span,
.info-titles,
.pool-info-location {
  font-family: 'Montserrat', sans-serif;
}

.info-p {
  font-family: 'Short Stack', cursive;
}

.header,
.header-home {
  background-color: rgba(43, 103, 129, 1);
  padding: 0.5px;
  text-align: center;
  color: white;
  font-family: 'Voltaire', sans-serif;
  font-size: 1.25rem;
}

.host-form-title {
  text-align: center;
}

.input,
textarea {
  background-color: rgb(190, 190, 190);
  border: 1px solid rgb(124, 124, 124);
  border-radius: 5px;
  margin-bottom: 1rem;
}

input {
  height: 2rem;
}

.fileInput {
  margin-top: 0.5rem;
}

textarea {
  resize: none;
  height: 5rem;
}

.host-submit-button {
  background-color: rgba(43, 103, 129, 1);
  color: white;
  border-radius: 0.5rem;
  width: 8rem;
  padding: 0.5rem 0;
  margin: 3rem 0;
  align-self: center;
  font-size: 1.25rem;
}

.user-buttons-container {
  background-color: rgba(43, 103, 129, 1);
}

.host-button,
.swimmer-button {
  width: 8rem;
  margin: 3rem;
  padding: 1rem 0;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.search-input {
  background-color: rgb(190, 190, 190);
  border: 1px solid rgb(124, 124, 124);
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.search-label {
  margin: 1rem 0;
}

.search-button {
  background-color: rgba(43, 103, 129, 1);
  color: white;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.navbar {
  background-color: rgba(43, 103, 129, 1);
  position: fixed;
  width: 100%;
  bottom: 0;
}

.search-icon {
  color: white;
  font-size: 4rem;
  margin: 0.75rem 0;
  margin-left: 1rem;
}

.pool-list-img {
  width: 100%;
}

.list-pool {
  flex-basis: 25%;
  text-decoration: none;
  color: black;
}

.search-link {
  text-decoration: none;
  color: white;
}

.search-result-header {
  text-align: center;
}

.no-pools {
  padding-top: 2rem;
  text-align: center;
}

.pool-info-location {
  font-size: 1.5rem;
}

.book-button {
  background-color: rgba(43, 103, 129, 1);
  color: white;
  border-radius: 0.5rem;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.466);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.booking-submit {
  background-color: rgba(43, 103, 129, 1);
  color: white;
  border-radius: 0.5rem;
}

.booking-cancel {
  background-color: black;
  color: white;
  border-radius: 0.5rem;
}

.host-submit-button:hover,
.search-link:hover,
.swimmer-button:hover,
.host-button:hover,
.search-icon:hover,
.search-button:hover,
.pool-list-img:hover,
button {
  cursor: pointer;
}
